body{
    background:linear-gradient( to right, rgb(32, 32, 33), rgb(101, 90, 101) );
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    padding:10px;
    overflow: hidden;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    position: absolute;
    font-size: 40px;
    top: -5px;
}

.item-box{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    width: 1100px;
    position: relative;
    height: 600px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 2px 20px black;
    transition: 0.2s;
    animation: 0.7s fadeIn ease-in-out;
 
}
@keyframes fadeIn{
    0%{
        transform: translateY(-120px);
    }
    100%{
        transform:translateY(0px);
    }
}

/* item box block*/

.item-box:hover{
    transform: scale(1.01);
}

.items-list {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin-top: 30px;
    align-content: center;
    justify-content: center;
    transform: translateX(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    z-index: 1;
}

.items-list.slide-right {
    animation: slideFromRight 0.5s forwards;
}

.items-list.slide-left {
    animation: slideFromLeft 0.5s forwards;
}

@keyframes slideFromRight {
    from { transform: translateX(60px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideFromLeft {
    from { transform: translateX(-60px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}


/* Active list stays in place */
.items-list.active {
    transform: translateX(0);
    opacity: 1;
    z-index: 2;
}

/* cards block*/

.card{
    background-color: rgb(252, 250, 250);
    box-shadow: 0 2px 15px rgb(69, 66, 66);
    border-radius: 10px;
    display:flex;
    justify-content: center;
    position: relative;
    height:200px;
    width: 300px;
    padding:10px;
    transition: transform 0.3s ease;
}
.card:hover{
        transform: translateY(-10px);
}

.card .price{
    opacity: 0;
}
.fullscreen .card:hover{
    transform: scale(1.02);
}
.fullscreen{
    margin-bottom: 60px;
    left:0;
    width:70%;
    height:95%;
}

.fullscreen .card{
    height:260px;
    width:250px;
    justify-content: center;
    display: flex;
}

.fullscreen .card p{
     position: absolute;
    margin-top: 168px;
}

.fullscreen .card .price{
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    margin-top: 196px;
}
.card p{
    position: absolute;
    margin-top: 170px;
    font-family: Arial, Helvetica, sans-serif;
}

.fullscreen .items-list{
    display:flex;
    gap : 10px;
    padding: 17px;
    column-gap: 30px;
    row-gap:25px;
    margin:auto;
    margin-top: 10px;

}

.fullscreen .item-box{
    position: relative;
}
.visible{
    opacity:0;
    pointer-events: none;
}

.buttons{
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-top: 30px;
    position: absolute;
    gap:40px;
    bottom:23px;
    left:365px;
}

.fullscreen .buttons{
    margin-top: 20px;
    left:270px;
}

.zero{
    background:linear-gradient( to right, rgb(247, 112, 34), rgb(143, 81, 58));
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding:12px 15px;
    border:none;
    color:white;
    box-shadow: 0 2px 10px rgb(53, 48, 48);
     transition: 0.2s;
    
}
.first {
    background:linear-gradient( to right, rgb(9, 111, 9), rgb(41, 214, 41));
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding:12px 15px;
    border:none;
    color:white;
    box-shadow: 0 2px 10px rgb(53, 48, 48);
     transition: 0.2s;
}

.second{
    background:linear-gradient(to right, rgb(40, 40, 208), rgb(57, 163, 205));
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding:12px 21px;
    border:none;
    color:white;
    box-shadow: 0 2px 10px rgb(53, 48, 48);
    transition: 0.2s;
}

.forth{
    background:linear-gradient(to right, rgb(219, 23, 222), rgb(127, 63, 129));
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding:12px 21px;
    border:none;
    color:white;
    box-shadow: 0 2px 10px rgb(53, 48, 48);
    transition: 0.2s;
    opacity: 0;
}

.fullscreen .forth{
    opacity: 1;
}

.zero:hover{
    background:linear-gradient( to right, rgb(143, 81, 58), rgb(234, 91, 8));
    transform: scale(1.05);
    box-shadow: 0 2px 15px rgb(34, 32, 32);
    cursor: pointer;
}
.first:hover{
    background:linear-gradient( to right, rgb(38, 217, 38), rgb(9, 111, 9));
    transform: scale(1.05);
    box-shadow: 0 2px 15px rgb(34, 32, 32);
}

.second:hover{
    background:linear-gradient(to right,rgb(42, 132, 167), rgb(40, 40, 208));
    transform: scale(1.05);
    box-shadow: 0 2px 15px rgb(34, 32, 32);
}

.forth:hover{
    background:linear-gradient(to right, rgb(127, 63, 129), rgb(219, 23, 222));
    transform: scale(1.05);
    box-shadow: 0 2px 15px rgb(34, 32, 32);
}

.zero:active{
    transform: scale(0.95);
     box-shadow: 0 2px 10px rgb(53, 48, 48);
}

.first:active{
    transform: scale(0.95);
     box-shadow: 0 2px 10px rgb(53, 48, 48);
}

.second:active{
    transform: scale(0.95);
     box-shadow: 0 2px 10px rgb(53, 48, 48);
}

.forth:active{
    transform: scale(0.95);
     box-shadow: 0 2px 10px rgb(53, 48, 48);
}

body{
    background:linear-gradient( to right, rgb(32, 32, 33), rgb(101, 90, 101) );
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    padding:10px;
    overflow: hidden;
}

img{
    height: 150px;
    width:120px;
    border-radius: 10px;
    margin-top: 5px;
}

.qty-box {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    margin-bottom: 6px;
    opacity: 0;
    margin-top: 195px;
    pointer-events: none;
    transition: 0.3s ease;
}

.item-box.fullscreen .qty-box {
    opacity: 1;
    pointer-events: auto;
}

.qty-btnplus, .qty-btnminus {
    width: 21px;
    height: 20px;
    border-radius: 40%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition:0.2s;
}

.qty-btnplus:active {
    transform: scale(0.95);
}

.qty-btnminus:active {
    transform: scale(0.95);
}

.qty {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.card-btn{
    position: absolute;
    margin-top: 227px;
    margin-bottom:1px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgb(5, 191, 5);
    color:white;
    padding:6px 10px;
    border-radius: 7px;
    border: none;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    transition: 0.2s ease-in;
    box-shadow: 0 2px 10px rgb(69, 66, 66);
    cursor: pointer;
}

.fullscreen .card-btn{
    display:block !important;
    opacity: 1;
    pointer-events: auto;
}

.card-btn:hover{
    transform: scale(1.02);
}

.item-box .card-btn:active{
    transform: scale(0.95);
}
.message {
    bottom: 30px;
    position: fixed;
    margin-left: 420px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f3f5;
    font-size: 15px;
    color: black;
    padding: 9px 20px;
    border-radius: 15px;
    opacity: 0;
    margin-bottom: 5px;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    z-index: 9999;
}

.message.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1.05); /* slide up into place */
}

/* 3D rotate animation */
.rotate-3d {
    animation: rotateOut 8s linear infinite;
    transform-style: preserve-3d;
}

@keyframes rotateOut {
    0% {
      transform: rotateY(0deg);
        opacity: 1;
    }
    100% {
      transform: rotateY(360deg);
        opacity: 0;
    }
}

.btnColor{
    background-color: red;
}
